version: "3.7"

services:
  osoc-backend:
    container_name: "osoc-backend"
    build: ./backend
    ports:
      - 8000
    environment:
      MONGO_URL: mongodb_container
      MONGO_PORT: 27017
      MONGO_USER: root
      MONGO_PASSWORD: justapassword
      REDIS_URL: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: justapassword
      # SMTP Mail
      SMTP_SERVER: smtp.gmail.com
      SMTP_SSL_PORT: 465
      SENDER_EMAIL: osoc.groep4@gmail.com
      SENDER_PASSWORD: Justapassword123!
      # Invite Settings
      INVITE_EXPIRE: 4320 #in minutes
    networks:
      - proxynet
      - backend
    labels:
      - traefik.enable=true
      - traefik.http.routers.osoc-backend.rule=Host(`sel2-4.ugent.be`) && PathPrefix(`${PATHPREFIX}/api`)
      - traefik.http.routers.osoc-backend.tls=true
      - traefik.http.routers.osoc-backend.tls.certresolver=le
      - traefik.http.routers.osoc-backend.entrypoints=websecure
      - traefik.http.routers.osoc-backend.middlewares=osocbackendpathstrip
      - traefik.http.middlewares.osocbackendpathstrip.stripprefix.prefixes=${PATHPREFIX}/api
      - traefik.port=8000
    user: "1000:1000"
    
  mongodb_container:
    image: mongo:latest
    container_name: "osoc-mongodb"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: justapassword
    ports:
      - 27017:27017
    volumes:
      - ./data/mongo:/data/db
    networks:
      - backend
    user: "1000:1000"

  redis:
    image: redis:latest
    container_name: osoc-redis
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 20 1 --loglevel warning --requirepass justapassword
    volumes:
      - ./data/redis:/data
    networks:
      - backend
    user: "1000:1000"

networks:
  proxynet:
    external:
      name: proxy_network
  backend:
    name: backend
