version: "3.7"

services:
#  osoc-frontend: 
#    build: ./frontend
#    ports:
#      - "3000:3000"

  osoc-backend:
    # container_name: "osoc-backend"
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      POSTGRES_URL: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: justapassword
      POSTGRES_DATABASE: OSOC
      REDIS_URL: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: justapassword
      # SMTP Mail
      SMTP_SERVER: smtp.gmail.com
      SMTP_SSL_PORT: 465
      SENDER_EMAIL: osoc.groep4@gmail.com
      SENDER_PASSWORD: OSOC-4-2022
      # Invite Settings
      INVITE_EXPIRE: 4320 # in minutes
      PASSWORDRESET_EXPIRE: 30 # in minutes
      # Frontend URL
      FRONTEND_URL: http://localhost:3000
    
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=justapassword
      - POSTGRES_DB=OSOC
    volumes:
      - ./data/postgres:/var/lib/postgresql/data/

  redis:
    image: redis:latest
    restart: unless-stopped
    command: redis-server --save 20 1 --loglevel warning --requirepass justapassword
    volumes:
      - ./data/redis:/data
