version: "3.7"

services:
  test-osoc-backend:
    container_name: "test-osoc-backend"
    build:
      context: ./backend
      dockerfile: TestDockerfile
    environment:
      POSTGRES_URL: test-osoc-postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: justapassword
      POSTGRES_DATABASE: OSOC
      REDIS_URL: test-osoc-redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: justapassword
      # SMTP Mail
      SMTP_SERVER: smtp.gmail.com
      SMTP_SSL_PORT: 465
      SENDER_EMAIL: osoc.groep4@gmail.com
      SENDER_PASSWORD: abcPasswordOSOC-group4
      # Invite Settings
      INVITE_EXPIRE: 4320 #in minutes
      PASSWORDRESET_EXPIRE: 30 # in minutes


  test-osoc-postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=justapassword
      - POSTGRES_DB=OSOC

  test-osoc-redis:
    image: redis:latest
    container_name: test-osoc-redis
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass justapassword
