:root {
    /* THE OSOC COLOR-SCHEME */
    --yellow: #FCB70F;
    --dark_blue: #0A0839;
    --red: #F14A3B;
    --green: #67BA98;
    --green_lighter: #44DBA4;

    /* Yes-maybe-no-colors */
    --yes_green: rgb(119,211,83);
    --maybe_yellow: rgb(255,179,0);
    --no_red: rgb(217,42,45);

    --yes_green_65: rgb(119,211,83,0.65);
    --maybe_yellow_65: rgb(255,179,0,0.65);
    --no_red_65: rgb(217,42,45,0.65);

    --yes_green_45: rgb(119,211,83,0.45);
    --maybe_yellow_45: rgb(255,179,0,0.45);
    --no_red_45: rgb(217,42,45,0.45);

    --yes_green_20: rgb(119,211,83,0.2);
    --maybe_yellow_20: rgb(255,179,0,0.2);
    --no_red_20: rgb(217,42,45,0.2);

    /* other colors */
    --btn_blue: dodgerblue;
    --white: #fff;
    --gray2: #222;
    --gray3: #333;
    --gray4: #444;
    --background-gray: #E5E9F2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FreeSans, sans-serif;
    color: var(--gray3);
}