.email-list-positioning {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    height: 75vh;
}

.email-students-cell {
    font-size: 18px;
}

.table-head {
    font-size: 18px;
}

.send-emails-button {
    font-size: 20px;
    padding: 8px 15px;
}

.send-emails-positioning {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.change-emails-positioning {
    align-self: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.content-title {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.send-emails {
    height: 120px;
}

.email-help-text {
    font-size: 13px;
    margin-top: -10px;
}

.send-email-names {
    font-size: 18px;
}