html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.col, .row, .col-md-auto {
  padding: 0;
}

.container {
  max-height: 100%;
  max-width: 100%;
  padding: 0;
}

.image-button,
.image-button:hover,
.image-button:active,
.image-button:after,
.image-button:focus {
  background-color: transparent;
  border: none;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

input {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--gray1) !important;
  padding-left: 7px;
}

.btn-primary{
  font-weight: bold !important;
}

.btn-secondary{
  font-weight: bold !important;
}

.nopadding{
  padding: 0;
}