.body-login {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* center body */
    margin: 10% auto 0;
}

.body-left .body-right {
    margin-left: 10%;
    justify-content: left;
}

.body-login section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.logo {
    transform: scale(1.5);
}

.body-login .login-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container .title {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.login-container .welcome-message {
    text-align: center;
    font-size: 1.1em;
    line-height: 28px;
    margin-bottom: 30px;
}

.login-container .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-container .form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.login-container .login-form .text-wrong {
    margin-bottom: 1px;
    color: var(--no_red_65);
}

.login-container .login-form .text-right {
    margin-bottom: 1px;
    color: var(--yes_green_65);
}

.login-container input,
.login-container .submit {
    outline: none;
    border-radius: 7px;
    font-size: 1.1em;
    align-items: center;
}

.login-container input {
    width: 100%;
    background: var(--white) !important;
    color: var(--gray3);
    padding: 0.75em 2.5em;
    margin: 0.2em 0.2em 0.2em 0.2em;
    border-color: var(--dark_blue);
    border-width: 2.5px;
}


.login-container input:focus {
    color: var(--gray2);
}

.login-container .submit {
    color: var(--white);
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    background-color: var(--dark_blue) !important;
    border-color: var(--dark_blue);
    cursor: pointer;
    width: 100%;
    transition: opacity 0.4s;
}


.login-container .submit:hover {
    opacity: 0.8;
}

/* ----  Responsiveness   ----  */
@media (orientation: portrait) {
    .body-login {
        width: 90%;
        grid-template-columns: 1fr;
    }

    .body-login .body-right {
        margin: auto;
        justify-content: center;
    }
}
