
.dropdown-button{
    min-width:134px;
    min-height:38px;
}

.table-manage-users{
    overflow-y:auto;
    width: 100%;
    max-height: 60%;
}

.user-button-inactive, .user-button-unapproved {
    width: 8em;
    margin-right: 12px;
}

.user-button-remove {
    width: 9em;
    background: red;
    border-color: red;
}

.invite-users-button{
    margin-bottom: 10px;
}

.invites-sent{
    margin-top: 10px;
}