.navbar {
    padding-right: 1rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.navbar-nav {
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.nav-link.active {
    transition: 1s; /* Trick for preventing element from jumping before page load */
    color: var(--dark_blue);
    font-size: 1.2rem;
}

#logout-link {
    color: var(--red);
}
