.skills-card{
    background-color: var(--background-gray);
    font-size: 18px;
    text-align: center;
    max-width: 250px;
    margin: 10px 15px 5px 15px;
}

.participation-name{
    margin-left: 15px;
    font-size: 20px;
}

.participation-card{
    margin-left: 10px;
    margin-top: 10px;
    max-width: 300px;
}

.participation-remove-student{
    margin-top: 10px;
}

.participation-info{
    max-width: 250px;
}

.admin-div{
    max-width: 250px;
    font-size: 20px;
    background-color: var(--no_red_45);
    text-align: center;
    margin: 5px 15px 5px 15px;
}

.coach-div{
    max-width: 250px;
    font-size: 20px;
    background-color: var(--maybe_yellow_45);
    text-align: center;
    margin: 5px 15px 5px 15px;
}

.project-details-title{
    font-weight: bold;
    font-size: 25px;
}

.project-details-subtitle{
    font-weight: lighter;
    font-size: 18px;
}

.project-details-project-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.project-details-page{
    margin-left: 20px;
}

.participation-delete{
    position: absolute;
    top: 2px;
    right: 2px;
}

.participation-div{
    margin: 5px 5px;
}