.skills-card{
    background-color: var(--background-gray);
    font-size: 18px;
    text-align: center;
    max-width: 250px;
    margin: 10px 15px 5px 15px;
    padding-top: 5px;
    padding-bottom:5px
}

.participation-name{
    margin-left: 15px;
    font-size: 20px;
}

.participation-card{
    margin-left: 10px;
    margin-top: 10px;
    max-width: 300px;
}

.participation-remove-student{
    margin-top: 10px;
}

.participation-info{
    max-width: 250px;
}

.admin-div{
    background-color: var(--no_red_45);
    max-width: 250px;
}

.coach-div{
    background-color: var(--maybe_yellow_45);
    max-width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:15px;
}

.user-col{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.delete-cross-user{
    margin-top: 8px;
    cursor: pointer;
}

.project-details-title-info{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 10px;
}

.project-details-title{
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 13px;
    margin-bottom: 10px;
}

.project-details-title-edit{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    width: 100%;
}

.project-details-subtitle{
    font-weight: lighter;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 13px;
    margin-bottom: 15px;
}

.project-details-subtitle-edit{
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 15px;
}

.project-details-big-subtitle{
    font-weight: lighter;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 73px;
    padding-left: 13px;
    margin-bottom: 15px;
}

.project-details-big-subtitle-edit{
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 15px;
}

.project-details-project-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.project-details-project-title-small{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.project-details-project-title-edit{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.project-details-project-title-small-edit{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.project-details-edit-field-width{
    max-width: 50%;
}

.project-details-edit-field-width-small{
    width: 100%;
}


.project-details-page{
    margin-left: 20px;
}

.participation-delete{
    position: absolute;
    top: 2px;
    right: 2px;
}

.participation-div{
    margin: 5px 5px;
}

.project-details-user-div{
    margin-left: -15px !important;
    margin-bottom: 55px;
}

.project-details-user-div-edit{
    margin-left: -15px !important;
}

.project-details-plus-user{
    cursor: pointer;
    margin-top: 10px;
}

.project-details-plus-skill{
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.delete-cross{
    cursor: pointer;
}

