.btn-conflicts{
    color:white;
    background-color: red;
    font-weight: bold;
}

.project-card{
}

.project-card-selected{
    border-width: 6px;
    border-style: solid;
    border-radius: 7px;
    border-color: var(--yes_green_45);
}

.project-card-div{
    padding: 0;
    margin-top: 15px;
}

.center-component{
    margin-top: 25px;
    align-self: center;
}

.project-title{
    font-weight: bold;
    font-size: 30px;
}

.partner-title{
    font-weight: lighter;
    font-size: 25px;
    color: var(--gray4);
}

.project-card-title{
    font-weight: bold;
    font-size: 23px;
    margin-left: 10px;
}

.card-body{
    margin-left: 15px;
    margin-top: 15px;
}

.project-title-list{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.project-top-bar{
    margin-top: 20px;
}

.project-people-needed{
    margin-top: 5px;
}

.project-empty-list{
    margin-top: 15px;
    margin-left: 0;
    font-size: 18px;
}

.project-empty-list-col{
    margin-top: 15px;
    margin-left: 11px;
    font-size: 18px;
}

.project-show-detail{
    cursor: pointer;
}

.button-match-student-project {
     cursor: pointer;
    border: none;
}

.select-search__options {
    list-style: none;
    width: 250px;
    padding: 0;
    background-color: white;
}

.select-search__option,
.select-search__not-found {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    border: none;
    outline: none;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.select-search__row:not(:first-child) {
    border-top: 1px solid #eee;
}

.select-search__input{

    display: block;
    width: 100%;
    padding: 0 40px 0 16px;
    background: #fff;
    border: 1px solid darkgray;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
    height: 38px;
}

