.btn-conflicts{
    color:white;
    background-color: red;
    font-weight: bold;
}

.project-card-div{
    margin-top: 15px;
    margin-left: 5px;
}

.center-component{
    margin-top: 25px;
    align-self: center;
}

.right-div{
    position:absolute;
    right: 0;
}

.project-title{
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.partner-title{
    font-weight: lighter;
    font-size: 25px;
    color: var(--gray4);
}

.project-card-title{
    font-weight: bold;
    font-size: 23px;
    margin-left: 10px;
}

.card-body{
    margin-left: 15px;
    margin-top: 15px;
}

.project-title-list{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}