.required-skill-selector-row{
    max-width: 1000px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.required-skill-amount{
    border-width: 1px;
    border-color: darkgray;
    max-width: 100px;
}