.students_list {
    margin: 0 30px 0 20px;
    padding: 0;
}

.fill_height {
    height: 100%;
}

.scroll-overflow {
    overflow-y: auto;
}

.fill_width {
    width: 100%;
}

.remaining_height {
    position: absolute;
    top: 75px;
    bottom: 0;
    width: 100%;
}

.studentlist-topmargin {
    margin-top: 20px;
}

.students-list-paddingtop {
    position: relative;
    padding-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.close-button {
    margin-top: 13px;
    padding: 0;
}

.remaining-height-searchbar {
    position: absolute;
    top: 60px;
    bottom: 0;
}

.sortby-label {
    align-self: center;
    font-size: 14px;
    width: auto;
}

.dropdown-sortby {
    border-width: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    background-color: var(--background-gray);
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;

}

.student-list-positioning {
    margin: 20pt 10pt 0;
}

.search-button {
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    margin: 7px;
}

.reset-search-button {
    align-self: center;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    padding: 9px;
}

.btn-group {
    width: auto;
}

.filter-btn {
    margin: 0 0 10pt;
    display: flex;
    justify-content: center;
}

.filter-btn img {
    filter: invert(100%);
}

.filter-btn span {
    padding-left: 10pt;
    color: white;
}

.infinite-scroll {
    margin-right: 0;
}

.alumnicon {
    cursor: default;
}