.body-settings {
    place-items: center start;
    justify-content: left;
    text-align: left;
}

.table-button {
    background-color: var(--color-background);
    border-width: 0;
}

.errormessage {
    -webkit-text-fill-color: red;
}

.table-head {
    font-size: 18px;
}

.email-students-cell {
    font-size: 18px;
}