.body-settings {
    place-items: center start;
    justify-content: left;
    text-align: left;
}

.table-button {
    background-color: var(--color-background);
    border-width: 0;
    margin-left: 15px;
}

.errormessage {
    -webkit-text-fill-color: red;
}

.button-edition-detail{
    margin-right: 15px;
}

.form-edition-detail{
    width: 100%;
}