.body-settings {
    place-items: center start;
    justify-content: left;
    text-align: left;
}

.table-button {
    background-color: var(--color-background);
    border-width: 0;
}

.errormessage {
    -webkit-text-fill-color: red;
}

.invite-button{
    margin-left: 15px;

.button-edition-detail{
    margin-right: 15px;
}

.form-edition-detail{
    width: 100%;
}

.form-column{
    text-align: right;
}

/* Hacky way to make sure the edit and delete image don't get smaller when the screen get's smaller (on phones, tablets...)*/
.questionTag-cell{
    min-width: 70px;
}

.questionTag-image{
    height: 30px;
}