.name_big {
    font-size: 35px;
}

.suggest-button {
    font-size: 16px;
    width: 125px;
    -webkit-text-fill-color: black;
    border-width: 0;
    margin: 10px 5px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 4px;
}

.suggest-yes-button {
    background-color: var(--yes_green_65);
}

.suggest-maybe-button {
    background-color: var(--maybe_yellow_65);
}

.suggest-no-button {
    background-color: var(--no_red_65);
}

.suggest-confirm-button {
    font-size: 16px;
    width: 125px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 3px;
    margin-right: 3px;
}

.details-upper-layer {
    margin: 10px 20px;
    height: 100px;
}

.dropdown-decision {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    width: 95%;
}

.remaining-height-details {
    position: absolute;
    top: 100px;
    bottom: 0;
    margin-left: 10px;
}

.student-details {
    padding-left: 12px;
    padding-right: 15px;
}

.student-details-suggestions-line {
    align-items: center;
}

.suggestions-title {
    margin-right: 25px;
}

.suggestions-circle-red {
    background-color: var(--no_red_65);
}

.suggestions-circle {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-right: 25px;
}

.h2-titles {
    margin-top: 30px;
    margin-bottom: 15px;
}

.student-details-window {
    margin-left: 20px;
    padding-top: 15px;
    margin-right: 25px;
}

.backbutton-margin {
    margin-left: 20px;
    margin-top: 10px;
}

.backbutton {
    padding: 5px 18px;
    border-style: solid;
    border-radius: 5px;
}

.remaining-height-backbutton {
    position: absolute;
    top: 50px;
    bottom: 0;
}