.name_big {
    font-size: 40px;
    padding-left: 0;
}

.suggest-button {
    font-size: 13px;
    width: 80px;
    -webkit-text-fill-color: black;
    margin: 8px 4px;
    border-width: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.bold_text {
    font-weight: bold;
}

.suggest-yes-button {
    background-color: var(--yes_green_65);
    border-color: var(--yes_green_45);
}

.suggest-yes-button:hover {
    background-color: var(--yes_green_45);
}

.suggest-maybe-button {
    background-color: var(--maybe_yellow_65);
    border-color: var(--maybe_yellow_45);
}

.suggest-maybe-button:hover {
    background-color: var(--maybe_yellow_45);
}

.suggest-no-button {
    background-color: var(--no_red_65);
    border-color: var(--no_red_45);
}

.suggest-no-button:hover {
    background-color: var(--no_red_45);
}

.suggest-confirm-button {
    border-radius: 3px;
    font-size: 13px;
    width: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 3px;
    margin-right: 4px;
}

.details-upper-layer {
    margin: 0 0 0 20px;
}

.dropdown-decision {
    height: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 5px;
    width: 95%;
    font-size: 15px;
    padding-left: 7px;
}

.remaining-height-details {
    margin-top: 30px;
    margin-left: 20px;
}

.student-details-suggestions-line {
    align-items: center;
}

.suggestions-title {
    margin-right: 25px;
}

.suggestions-circle-red {
    background-color: var(--no_red_65);
}

.suggestions-circle-yellow {
    background-color: var(--maybe_yellow_65);
}

.suggestions-circle-green {
    background-color: var(--yes_green_65);
}

.suggestions-circle {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-right: 25px;
}

.student-details-window {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: lightgray;

    margin-left: 0;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 25px;
    overflow-y: scroll;
}

.backbutton-margin {
    margin-left: 20px;
    margin-top: 10px;
}

.backbutton {
    padding: 0 0 0 0;
    border-style: solid;
    border-radius: 5px;
}

.remaining-height-backbutton {
    position: absolute;
    top: 50px;
    bottom: 0;
}

.decision {
    font-weight: bold;
    font-size: 20px;
}

.send-email-button {
    margin-top: 10px;
}

.suggestion-reason {
    margin-top: 5px;
    margin-bottom: 15px;
}

.send-email-checkbox {
    margin-right: 15px;
}

.modalbody-margin {
    margin-left: 15px;
    margin-right: 15px;
}

.disabled-text {
    -webkit-text-fill-color: gray;
}

.delete-button {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    margin-top: 20px;
}

.student-details-question {
    font-weight: bold;
    margin-top: 20px;
    font-size: 15px;
}

.student-details-answer {
    margin-top: 10px;
    font-size: 15px;
}

.buttongroup-paddingtop{
    padding-top: 5px;
}

.margins-accordion {
    margin-top: 30px;
}

.h2-titles {
    margin-top: 30px;
    margin-bottom: 5px;
}

.suggestion {
    margin-top: 2px;
    margin-bottom: 2px;
}