name: Deploy

on:
  push:
    branches: [ development ]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_SERVER_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            ls
      
      - name: copy file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.SSH_SERVER_KEY }}
          source: "."
          target: "OSOC-deployments/${GITHUB_REF##*/}"
          overwrite: true
     
