name: Deploy

on:
  push:
    branches: [ development ]

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      
      - name: Move data to temp folder
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_SERVER_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            ([[ -d OSOC-deployments/${{ steps.extract_branch.outputs.branch }} ]] && cd OSOC-deployments/${{ steps.extract_branch.outputs.branch }} && docker-compose down) || echo "Containers don't exist"
            ([[ -d OSOC-deployments/${{ steps.extract_branch.outputs.branch }}/data ]] && mv OSOC-deployments/${{ steps.extract_branch.outputs.branch }}/data /tmp/${{ steps.extract_branch.outputs.branch }}/data) || echo "Data doesn't exist"
            
      - name: Copy repo to the server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          port: ${{ secrets.PORT }}
          key: ${{ secrets.SSH_SERVER_KEY }}
          source: "."
          target: "OSOC-deployments/${{ steps.extract_branch.outputs.branch }}"
          rm: true
          
      - name: Copy database data back
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_SERVER_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            ([[ -d /tmp/${{ steps.extract_branch.outputs.branch }}/data ]] && mv /tmp/${{ steps.extract_branch.outputs.branch }}/data OSOC-deployments/${{ steps.extract_branch.outputs.branch }}/data) || echo "Data doesn't exist"
            ([[ -d OSOC-deployments/${{ steps.extract_branch.outputs.branch }} ]] && cd OSOC-deployments/${{ steps.extract_branch.outputs.branch }} && docker-compose up --build -d) || echo "Repo not copied"
     
