name: Lint

on:
  # Triggers the workflow on push or pull request events but only for the development branch
  push:
    branches: [ development ]
  pull_request:
    branches: [ development ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Down scope as necessary via https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
permissions:
  checks: write
  contents: write

jobs:
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      # Install your linters here

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Python dependencies
        run: pip install flake8

      #- name: Set up Node.js
      #  uses: actions/setup-node@v1
      #  with:
      #    node-version: 12

      # ESLint must be in `package.json`
      #- name: Install Node.js dependencies
      #  run: npm ci

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          flake8: true
          flake8_args: "--ignore=E501,W503,E712,F821"
          #eslint: true
          #eslint_dir: frontend/
