name: Docker Compose Actions Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the stack
        run: docker-compose -f test-docker-compose.yml up -d
      - name: Run tests
        run: docker-compose -f test-docker-compose.ym run test-osoc-backend pytest
