table {
    width: 100%;
}

card{
}

.column-icon{
    width:15%;
}

.column-text{
    width:80%;
}

.column-button{
    width:5%;

}

.card-title{
    font-weight: bold;
}

.card-subtitle{
    color:grey;
}